<h1>Edit a Video</h1>
<p>Each of the fields below is required.</p>
<form action="/videos/<%= @video['id'] %>" method="POST">
  <p>Video Title</p>
  <input type="text" id='title' name='title' value="<%= @video['title'] %>"  autofocus>
  <p>Description</p>
  <input type="text" name="description" id="description" value="<%= @video['description'] %>">
  <p>YouTube URL</p>
  <input type="text" id='url' name='url' value="<%= @video['url'] %>">
  <p>Genre</p>
  <input type="text" id='genre' name='genre' value="<%= @video['genre'] %>">
  <button>Submit</button>
</form>
